.App {
  text-align: center;
}

.chat-box {
  width: calc(100vw - 288px);
}

@media screen and (max-width: 640px) {
  .chat-box {
    width: calc(100vw - 176px);
  }
}

.chat-window {
  height: calc(100vh - 148px);
  margin-top: 41px;
}
